* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#eca48c, #b15757);
}

.box{
  display:flex;
}

.box, .eyes {
  position: relative;
  width: 120px;
  height: 130px;
  display: block;
  background: #f4fffb;
  margin: 0 30px;
  border-radius: 30vh;
  box-shadow: 12px 12px 0 #b02e2e;
}

.box, .eyes::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  border-radius: 60vh;
  background:linear-gradient(#b15757, #140303);
}


