@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100..900&family=Patrick+Hand&family=Sora:wght@100..800&family=Updock&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  scroll-behavior: smooth;
}

body {
  cursor: none;
  max-height: 200vh;
  background: linear-gradient(#f4fffb, #eca48c);
}

header {
  margin-top: 3vh;
  margin-left: 15vh;
  cursor: none;
}

nav li a{
  margin-left: 12px;
  cursor: none;
  border: none;
}

header nav li a:hover {
  border: 1px solid #b15757;
  padding: 15px;
  border-radius: 14vh;
  font-size: 16px;
  height: 2vh;
  width: 6vh;
}

header nav li a:active {
  border: 1px solid #b15757;
  padding: 15px;
  border-radius: 14vh;
  font-size: 16px;
  height: 2vh;
  width: 6vh;
}

header nav li a:focus {
  border: 3px solid #b15757;
  padding: 15px;
  border-radius: 14vh;
  font-size: 16px;
  height: 2vh;
  width: 6vh;
}


/******The dark mode toggle switch*****/

.darkBtn {
  background: linear-gradient(#b15757, #140303);
  color:#f4fffb;
 }

#slider-content {
  position: relative;
  height: 500px;
  width: 700px;
}

#image-list {
  overflow: hidden;
}

#image-list .img-item img {
  position: absolute;
  margin-top: 3vh;
  padding-top: 4vh;
  padding-left: 4vh;
  height: 900px;
  width: 700px;
  object-fit: cover;
}
/************** Message animation settings ****************/

span {
  font-family: "Updock", cursive;
  font-size: 56px;
  font-weight: bolder;
}

/********************* CALL TO ACTION BUTTON **********************************/
#message {
  margin-top: 50vh;
  padding-top: 14vh;
  padding-bottom: 14vh;
}

#message h2 {
  margin-bottom: 15vh;
}

#button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 17vh;
  cursor: none;
}


.btn {
  position: relative;
  display: inline-flex;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 20px;
  width: 30vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #b15757;
  color:#f4fffb;
  letter-spacing: 1px;
  overflow: hidden;
  cursor: none;
}

.btn span {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

.btn::before {
  content: '';
  position: absolute;
  rotate: 45deg;
  top: var(--y);
  left: var(--x);
  transform: translate(-20%, -20%);
  width: 10px;
  height: 10px;
  opacity: 0%;
  background: linear-gradient(#b15757, #eca48c, #f4fffb);
  box-shadow: 2px 2px 10px#140303,
  2px 2px 10px#b15757,
  2px 2px 10px #f4fffb,
  2px 2px 10px #eca48c;
  transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
  width: 300px;
  height: 300px;
  opacity: 60%;
}

/***** Settings of About Info ****/

#about-info {
  background: #eca48c;
  height: 100vh;
  width: 200vh;
  padding: 16vh;
  
}
/******Word changing animation CSS setting********/

#words{
  display: inline-block;
  transform: translateZ(25px);
  transform-origin: 50% 50% 30px;
  pointer-events: none;
  animation: colors 5s infinite;
}

#words.out {
  transform: rotateX(90deg);
  transform: transform .32s cubic-bezier(0.55 0.055, 0.0675, 0.19);
}

#words.in {
  transform: rotateX(0deg);
  transform: transform .32s cubic-bezier(0.175 0.855, 0.032, 1.275);
}

#words.behind {
  transform: rotateX(-90deg);
}



/************************ Team Profile setting *****************************/
#team-profile {
  background: #eca48c;
  height: 160vh;
  width: 200vh;
  padding-top: 36vh;
  margin-top: 34rem;
  margin-right: 2vh;
  padding-left: 25vh;
  justify-content: center;
  align-items: center;
  position: relative;

}

#team-profile .title {
  margin-left: -23vh;
}

#team-profile .team-container {
  margin-top: 14vh;
  display: grid;
  flex-wrap: wrap;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  min-height: 100vh;
}

#team-profile .team-container .image {
  margin-top: 42px;
  height: 200px;
  width: 200px;
  object-fit:cover;
  border-radius: 10px;
  cursor:none;
}

#team-profile .team-container .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
}

#team-profile .team-container .image:hover img {
  transform: scale(1.1);
}


/** SERVICES SECTION **/
#services {
  background: #eca48c;
  height: 160vh;
  width: 200vh;
  padding-top: 16vh;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cards {
  height: 70vh;
  width: 50vh;
  background:  linear-gradient(#b15757, #eca48c, #f4fffb);
  border-radius: 30vh;
  padding-top: 25vh;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  justify-content:center;
  align-items: center;

}

.cards:hover{
  margin-top: -5vh;
  width: 55vh;
  background:  linear-gradient(#eca48c, #b15757, #f4fffb);
}
/** Contact Section **/

#contact {
  background: #eca48c;
  height: 120vh;
  width: 200vh;
  padding-top: 16vh;
  margin-top: 0;
  margin-right: 2vh;
  padding-left: -2vh;
  justify-content: center;
  align-items: center;
  position: relative;

}

#contact p {
  margin-top: 12vh;
  text-align: center;
}
#contact h3 {
  margin-top: 15px;
  margin-left: 115px;
  padding-top: 14px;
}

form {
  margin-top: 14vh;
  margin-left: 65vh;
}

#submit {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 25vh;
  border-radius: 10vh;
}

/*********Footer setting*************/

footer {
  background: #b15757;

}
/** Mouse movement ***/


#mousemove {
  z-index:999;
  position: fixed;
  width: 3vh;
  height: 3vh;
  border-radius: 50px;
  box-shadow: 3px 3px 30px #f4fffb,
              3px 3px 30px #eca48c,
              3px 3px 30px #eca48c;
  pointer-events: none;
  animation: colors 5s infinite;
}

@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(180deg);
  }
}

#mousemove::before{
  content:'';
  position: absolute;
  background: #b15757;
  width: 3vh;
  height: 3vh;
  opacity: 0.3;
  border-radius: 5px;
  box-shadow: 3px 3px 30px #f4fffb,
  3px 3px 30px #eca48c,
  3px 3px 30px #eca48c;
  transform: translate(-30%, -30%);
  animation: rotate 2s infinite;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

